In [1]:
import pandas as pd 
from sklearn.neighbors import NearestNeighbors
from sqlalchemy import create_engine
import pickle
from fastapi import FastAPI
import threading
import time

In [2]:
app = FastAPI()

In [3]:
knn = None 
user_item_matrix = None
restaurantsData = None

In [4]:
connection_string = "mssql+pyodbc://@DESKTOP-OAFR7NA/DealsHubDB?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server"
engine = create_engine(connection_string)

In [ ]:
def fetch_reviews():
    try:
        ##query = "SELECT ReviewId, Rating, UserId, BusinessId, CreatedAt FROM Reviews"
        ##data = pd.read_sql(query, engine)
        print("Reviews fetched successfully.")
        return data
    except Exception as e:
        print(f"Error in fetching reviews: {e}")
        return None

In [29]:
def fetch_Businesses():
    try:
        query = "SELECT BusinessId, Area FROM Businesses"
        data = pd.read_sql(query, engine)
        print("Businesses fetched successfully.")
        return data
    except Exception as e:
        print(f"Error in fetching businesses: {e}")
        return None

In [31]:
def retrain_user_model():
    global knn, user_item_matrix, businessesData

    data = fetch_reviews()

    if data is None or data.empty:
        print("No data available for training.")
        return None

    data["createdAt"] = pd.to_datetime(data["createdAt"])
    data = data.sort_values("createdAt").drop_duplicates(subset=["UserId", "BusinessId"], keep="last") 

    user_item_matrix = data.pivot(index='UserId', columns='BusinessId', values='Rating').fillna(0)

    knn = NearestNeighbors(metric="cosine", algorithm="brute", n_neighbors=5)
    knn.fit(user_item_matrix)

    pickle.dump(knn, open(MODEL_FILE, "wb"))
    print("Model retrained and saved successfully.")
    return knn

In [35]:
def recommendRestaurantsToUserInArea(userId: int, area: str, numOfRecommends: int = 6):
    if userId not in user_item_matrix.index:
        return "User Not Found"

    user_idx = user_item_matrix.index.get_loc(userId)
    distances, indices = knn.kneighbors([user_item_matrix.iloc[user_idx]], n_neighbors=6)

    similar_users = user_item_matrix.iloc[indices.flatten()[1:]]
    
    recommended_restaurants = (similar_users.mean().sort_values(ascending=False)).index

    filtered_restaurants = restaurantsData[restaurantsData['Area'] == area]['Restaurant ID']

    final_recommendations = [r for r in recommended_restaurants if r in filtered_restaurants.values]

    return final_recommendations[:numOfRecommends]

In [47]:
def recommendRestaurantsToUser(userId: int, numOfRecommends: int = 6):
    if userId not in user_item_matrix.index:
        return "User Not Found"

    user_idx = user_item_matrix.index.get_loc(userId)
    distances, indecies = knn.kneighbors([user_item_matrix.iloc[user_idx]], n_neighbors=6)

    similar_users = user_item_matrix.iloc[indecies.flatten()[1:]]
    
    recommend_restuarants = (similar_users.mean().sort_values(ascending=False)).index[:numOfRecommends]

    return recommend_restuarants.tolist()

In [43]:
def retrain_model_periodically(interval=3600):
    while True:
        print("Retraining the model in the background...")
        retrain_user_model()
        time.sleep(interval)

In [45]:
threading.Thread(target=retrain_model_periodically, daemon=True).start()

Retraining the model in the background...

In [51]:
@app.get("/userRecommendWithArea")
async def userRecommendWithArea(userId: int, area: str, numOfRecommends: int = 6):
    recommendations = recommendRestaurantsToUserInArea(userId, area, numOfRecommends)
    return recommendations

In [53]:
@app.get("/userRecommend")
async def userRecommend(userId: int, numOfRecommends: int = 6):
    recommendations = recommendRestaurantsToUser(userId, numOfRecommends)
    return recommendations

In [47]:
data["createdAt"] = pd.to_datetime(data["createdAt"])

In [49]:
data = data.sort_values("createdAt").drop_duplicates(subset=["User ID", "Restaurant ID"], keep="last")
data

,User ID,Restaurant ID,Rating,Review,createdAt
152678,2144,835,3,Great food and experience!,2020-03-04
82906,5086,857,1,Great food and experience!,2020-03-04
494315,2144,393,2,Great food and experience!,2020-03-04
145953,3991,762,2,Great food and experience!,2020-03-04
432289,7751,688,4,Great food and experience!,2020-03-05
...,...,...,...,...,...
370235,6797,767,1,Great food and experience!,2025-03-17
264666,1810,482,2,Great food and experience!,2025-03-17
477959,6389,984,4,"Juicy and well-cooked meat, really good.",2025-03-17
65000,112,997,2,Great food and experience!,2025-03-17
401284,4537,215,1,Great food and experience!,2025-03-17

In [4]:
restaurantsData = pd.read_csv("GeneratedData/egyptian_restaurants_refined.csv")
restaurantsData

,Restaurant ID,Restaurant Name,Category,City,Area,Longitude,Latitude
0,1,30 North,Cafe,Alexandria,Gleem,29.901193,31.186937
1,2,Indira,Asian Cuisine,Alexandria,Montaza,29.920624,31.206004
2,3,Seoudi,Casual Dining,Cairo,Nasr City,31.245766,30.041615
3,4,Paul,Bakery,Alexandria,Sidi Gaber,29.906400,31.189993
4,5,Wel3a,Grill,Sharm El Sheikh,Sharks Bay,34.325296,27.906238
...,...,...,...,...,...,...,...
995,996,Koshary Hend,Koshary,Giza,Dokki,31.217653,30.022743
996,997,Abou Haidar,Sandwiches,Hurghada,El Gouna,33.814798,27.261863
997,998,Maison de Curry,Indian,Cairo,Heliopolis,31.240446,30.026338
998,999,Arabiata,Egyptian Cuisine,Cairo,Downtown,31.228161,30.045418
999,1000,Koshary El Tahrir,Koshary,Alexandria,Montaza,29.920102,31.191278

In [5]:
user_item_matrix = data.pivot(index='User ID', columns='Restaurant ID', values='Rating').fillna(0)

In [6]:
knn = NearestNeighbors(metric="cosine", algorithm="brute", n_neighbors=5)
knn.fit(user_item_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [7]:
def recommendRestaurantsToUser(userId, numOfRecommends):
    if userId not in user_item_matrix.index:
        return "User Not Found"

    user_idx = user_item_matrix.index.get_loc(userId)
    distances, indecies = knn.kneighbors([user_item_matrix.iloc[user_idx]], n_neighbors=6)

    similar_users = user_item_matrix.iloc[indecies.flatten()[1:]]
    
    recommend_restuarants = (similar_users.mean().sort_values(ascending=False)).index[:numOfRecommends]

    return recommend_restuarants.tolist()

In [39]:
recommendations = recommendRestaurantsToUser(555,5)
recommendations

[937, 766, 500, 652, 812]

In [41]:
restaurantsData[restaurantsData["Restaurant ID"].isin(recommendations)]

,Restaurant ID,Restaurant Name,Category,City,Area,Longitude,Latitude
499,500,Tamara,Lebanese,Alexandria,Sidi Gaber,29.907117,31.189543
651,652,Buffalo Burger,Burgers,Hurghada,Sheraton Road,33.809546,27.240095
765,766,Butcher's Burger,Burgers,Giza,Haram,31.206092,30.008051
811,812,Koshary Hend,Koshary,Giza,Haram,31.215088,30.012383
936,937,Bazooka,Burgers,Cairo,Zamalek,31.241822,30.027337

In [21]:
def recommendRestaurantsToUserInArea(userId, numOfRecommends, area):
    if userId not in user_item_matrix.index:
        return "User Not Found"

    user_idx = user_item_matrix.index.get_loc(userId)
    distances, indices = knn.kneighbors([user_item_matrix.iloc[user_idx]], n_neighbors=6)

    similar_users = user_item_matrix.iloc[indices.flatten()[1:]]
    
    recommended_restaurants = (similar_users.mean().sort_values(ascending=False)).index

    filtered_restaurants = restaurantsData[restaurantsData['Area'] == area]['Restaurant ID']

    final_recommendations = [r for r in recommended_restaurants if r in filtered_restaurants.values]

    return final_recommendations[:6]

In [33]:
recommendations = recommendRestaurantsToUserInArea(555,5,"Zamalek")
recommendations

[937, 829, 34, 236, 895, 691]

In [35]:
restaurantsData[restaurantsData["Restaurant ID"].isin(recommendations)]

,Restaurant ID,Restaurant Name,Category,City,Area,Longitude,Latitude
33,34,Butcher's Burger,Burgers,Cairo,Zamalek,31.223389,30.047763
235,236,Hossam El Refaay,Grill,Cairo,Zamalek,31.251662,30.038643
690,691,Chicken Fil-A,Fried Chicken,Cairo,Zamalek,31.216639,30.036275
828,829,Fuddruckers,Burgers,Cairo,Zamalek,31.220837,30.044145
894,895,Gad,Egyptian Cuisine,Cairo,Zamalek,31.241175,30.039210
936,937,Bazooka,Burgers,Cairo,Zamalek,31.241822,30.027337

In [31]:
ratedRestaurants = data[data["User ID"]==555][["Restaurant ID","Rating"]]
ratedRestaurants = ratedRestaurants.merge(restaurantsData, on="Restaurant ID")
ratedRestaurants.sort_values(by="Rating", ascending=False)

,Restaurant ID,Rating,Restaurant Name,Category,City,Area,Longitude,Latitude
28,45,5,Kazouza,Egyptian Street Food,Giza,Haram,31.221621,30.024833
11,937,5,Bazooka,Burgers,Cairo,Zamalek,31.241822,30.027337
47,942,5,Makani,Grill,Sharm El Sheikh,Nabq,34.329407,27.934191
42,406,5,Starbucks,Cafe,Giza,Mohandessin,31.215055,30.031872
39,238,5,Tabla Luna,Latin American,Giza,Dokki,31.224261,30.032845
31,516,5,Koshary Hend,Koshary,Sharm El Sheikh,Naama Bay,34.344990,27.929137
29,851,5,The Lemon Tree,Mediterranean,Hurghada,Dahar,33.796181,27.243677
23,855,5,Wel3a,Grill,Giza,6th of October,31.212438,30.032115
19,109,5,Seoudi,Casual Dining,Hurghada,Dahar,33.815551,27.254341
12,812,5,Koshary Hend,Koshary,Giza,Haram,31.215088,30.012383
55,427,5,Kazouza,Egyptian Street Food,Giza,Sheikh Zayed,31.227764,30.011554
6,493,5,Shawarma El Reem,Shawarma,Cairo,Nasr City,31.255460,30.063831
9,901,5,Makani,Grill,Alexandria,Sidi Gaber,29.917698,31.190146
33,997,4,Abou Haidar,Sandwiches,Hurghada,El Gouna,33.814798,27.261863
34,806,4,Pier 88,Seafood,Cairo,Nasr City,31.229286,30.037788
44,652,4,Buffalo Burger,Burgers,Hurghada,Sheraton Road,33.809546,27.240095
20,962,4,Shawarma El Reem,Shawarma,Hurghada,El Gouna,33.805899,27.251248
32,854,4,TBS,Bakery,Giza,Mohandessin,31.218229,30.021866
17,586,4,The Smokery,Fine Dining,Alexandria,Montaza,29.933854,31.195429
15,704,4,Wel3a,Grill,Giza,Mohandessin,31.214959,30.019554
54,474,4,Seoudi,Casual Dining,Hurghada,Dahar,33.827028,27.251343
49,697,3,Fish Market,Seafood,Cairo,Downtown,31.239302,30.035531
51,735,3,Butcher's Burger,Burgers,Sharm El Sheikh,Hadaba,34.346603,27.898399
3,760,3,Starbucks,Cafe,Hurghada,Makadi Bay,33.823587,27.254955
40,627,3,Pier 88,Seafood,Hurghada,El Gouna,33.798490,27.270574
38,455,3,Makani,Grill,Cairo,Zamalek,31.224710,30.031772
52,116,3,El Doksh,Seafood,Alexandria,Stanley,29.908066,31.183120
45,119,3,Le Pacha 1901,Fine Dining,Giza,Mohandessin,31.210971,30.023193
0,291,3,Gad,Egyptian Cuisine,Cairo,Maadi,31.223084,30.056096
13,523,3,Sizzler,Steakhouse,Hurghada,Sheraton Road,33.825722,27.267180
14,721,3,TBS,Bakery,Alexandria,Stanley,29.923598,31.209697
22,201,2,Tabla Luna,Latin American,Cairo,Zamalek,31.248681,30.063144
24,583,2,Maison de Curry,Indian,Sharm El Sheikh,Sharks Bay,34.319936,27.920686
2,456,2,Seoudi,Casual Dining,Sharm El Sheikh,Nabq,34.340847,27.925523
18,260,2,Gringo's,Mexican,Sharm El Sheikh,Nabq,34.313444,27.923044
50,269,2,Gaby’s,European,Alexandria,Sidi Gaber,29.906771,31.212156
7,444,2,TBS,Bakery,Giza,Haram,31.225392,30.028329
4,465,2,El Doksh,Seafood,Alexandria,Sidi Gaber,29.924612,31.217548
16,491,2,Starbucks,Cafe,Alexandria,Gleem,29.906090,31.205170
46,903,2,Lucille’s,American Diner,Sharm El Sheikh,Naama Bay,34.327360,27.919328
35,186,2,Pier 88,Seafood,Sharm El Sheikh,Naama Bay,34.338802,27.933069
53,541,2,Arabiata,Egyptian Cuisine,Hurghada,Sheraton Road,33.793148,27.263136
27,792,2,Zooba,Egyptian Street Food,Giza,Mohandessin,31.195811,30.012898
5,34,2,Butcher's Burger,Burgers,Cairo,Zamalek,31.223389,30.047763
8,81,2,Chicken Fil-A,Fried Chicken,Alexandria,Montaza,29.938252,31.217141
48,256,1,El Menoufy,Grill,Giza,Haram,31.209300,30.008457
1,984,1,Makani,Grill,Sharm El Sheikh,Old Market,34.326439,27.927666
21,375,1,Koshary El Tahrir,Koshary,Cairo,Zamalek,31.245469,30.038218
43,327,1,Fuddruckers,Burgers,Sharm El Sheikh,Old Market,34.323709,27.916542
30,666,1,Indira,Asian Cuisine,Sharm El Sheikh,Old Market,34.313439,27.917793
41,699,1,Indira,Asian Cuisine,Alexandria,Sidi Gaber,29.905508,31.213363
37,47,1,Chicken Fil-A,Fried Chicken,Cairo,Nasr City,31.218429,30.060781
36,4,1,Paul,Bakery,Alexandria,Sidi Gaber,29.906400,31.189993
25,790,1,Koshary Hend,Koshary,Alexandria,Stanley,29.934675,31.181828
26,5,1,Wel3a,Grill,Sharm El Sheikh,Sharks Bay,34.325296,27.906238
10,794,1,Abou Haidar,Sandwiches,Hurghada,Sahl Hasheesh,33.801832,27.253356